.leaflet-container {
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
}

.note-modal {
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: red;
    z-index: 1000;
}
